.book-content-links {
  color: var(--link-text-color);
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  font-weight: var(--font-weight-large);
  position: absolute;  
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.book-content-links a {
  font-size: inherit;
}
