.book-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92%;  
  height: 100%;
  max-height: 95vh;  
  position: relative;  
}

.book-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.book-loader {
  width: 100%;
  max-width: 400;
  height: 100%;
  max-height: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
}

.book-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.book-pages {
  position: relative;
}

.book-zoom-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  position: relative;
}

.zoom-spread {
  display: flex;
  height: 100%;
}

.zoom-spread img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .book-spine-shadow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;              
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, transparent 70%);
  pointer-events: none;      
  z-index: 5;                
} */
